<div class="card">
  <div class="range-filter">
    <div class="card-header">
      <h6 (click)="toggleHeader()">Mkt Cap Filter <i [ngClass]="isToggleHeader ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-right'" class="pull-right"></i></h6>
    </div>
    <div class="card-body" [ngClass]="isToggleHeader ? 'show' : 'hide'">
      <form [formGroup]="rangeFilterForm" name="rangeFilterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="graterThan">Greater than</label>
          <input 
            type="email" 
            class="form-control" 
            id="graterThan" 
            formControlName="graterThan"
            placeholder="eg. 50">
            <div *ngIf="(!rangeFilterForm.controls['graterThan'].valid && rangeFilterForm.controls['graterThan'].touched)" class="error">Enter number</div>
        </div>
        <div class="form-group">
          <label for="lessThan">Less than</label>
          <input 
            type="text"
            class="form-control"
            id="lessThan"
            formControlName="lessThan"
            placeholder="eg. 80">
            <div *ngIf="(!rangeFilterForm.controls['lessThan'].valid && rangeFilterForm.controls['lessThan'].touched)" class="error">Enter number</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-danger" (click)="resetFilter()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>