.card {
    h6 {
        cursor: pointer;
        text-decoration: underline;
    }
    .card-body {
        padding-bottom: 0;
    }
    .range-filter {
        button {
            margin-right: 5px;
        }
    }
}