<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <app-range-filter 
                        (onRangeSelect)="onRangeSelect($event)"
                        (onResetFilter)="onResetFilter()"></app-range-filter>
                </div>
                <div class="col-lg-5">
                    <app-multiple-selection 
                        [dataset]="dataset"
                        (onMultipleSelection)="onMultipleSelection($event)">
                    </app-multiple-selection>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-table 
                [dataset]="dataset" 
                [datasetKeys]="datasetKeys"
                [greaterThanValFilter]="greaterThanValFilter"
                [lessThanValFilter]="lessThanValFilter"
                [multipleItemSelected]="multipleItemSelected">
            </app-table>
        </div>
    </div>
</div>
