<button class="btn btn-dark" (click)="toggleTableHeaders()">
  {{ isTitleHeaderFullyVisible ? 'Truncate Headers' : 'Show Full Headers' }}
  <i [ngClass]="isTitleHeaderFullyVisible ? 'fa fa-minus-circle' : 'fa fa fa-plus-circle'"></i>
</button>
<button class="btn btn-dark" (click)="toggleFixTableHeight()">
  {{ isFixTableHeight ? 'Add Table Scroller' : 'Remove Table Scroller' }}
  <i [ngClass]="isFixTableHeight ? 'fa fa-plus-circle' : 'fa fa-minus-circle'"></i>
</button>
<div class="table-responsive fixed-table-body" [ngClass]="isFixTableHeight ? 'remove-scroller' : '' ">
  <div class="table-container">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <ng-container *ngFor="let key of datasetKeys">
            <th scope="col">{{isTitleHeaderFullyVisible ? (key) : (key | slice:0:8) }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of datasetTemp | keys">
          <tr>
            <ng-container *ngFor="let subitem of item.value | keys">
              <ng-container *ngTemplateOutlet="dataCells"></ng-container>
              <ng-template #dataCells>
                <td scope="col" 
                  [ngClass]="colorType(subitem.key, subitem.value, 
                            ['IDEAS Score (/100)',
                            'Growth Score (/100)',
                            'Ests Momentum - EPS',
                            'Ests Mom Change (3m) - EPS',
                            'Quality Score (/100)'])">
                  {{ subitem.value}}
                </td>
              </ng-template>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>