<div class="card">
  <div class="multiple-selection">
    <div class="card-header">
      <h6 (click)="toggleHeader()">Group Filter 
        <i [ngClass]="isToggleHeader ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-right'" class="pull-right"></i></h6>
    </div>
    <div class="card-body" [ngClass]="isToggleHeader ? 'show' : 'hide'">
      <form>
        <div class="checkbox-container">
          <div class="form-group" *ngFor="let item of dataset; let x = index">
              <input type="checkbox"
                class="form-check-input"
                id="item_{{x}}"
                name="groups[]"
                value="{{ item['Group'] }}" 
                (change)="onChangeCategory($event, item['Group'])"/>
              <label class="form-check-label" for="item_{{x}}">{{ item['Group'] }}</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>