.card {
    h6 {
        cursor: pointer;
        text-decoration: underline;
    }
    .card-body {
        padding-bottom: 0;
    }        
    .multiple-selection {
        button {
            margin-right: 5px;
        }
    }
    .checkbox-container {
        max-height: 225px;
        overflow-y: scroll;
        position: relative;
        input {
            position: relative;
            margin-left: 0;
        }
    }
}